html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:focus {
  outline: none;;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  max-width: 1172px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  color: #878787;
  font-size: 16px;
  line-height: 22px;
  font-family: Proxima Nova;
  font-weight: 400;
  max-width: 1600px;
  margin: 0 auto;
}

.top {
  background: url('../images/top-section-bkg.png') no-repeat top center;
  background-size: auto;
  height: 810px;
  color: #fff;
  position: relative;

  &__slider {
    margin: 138px 0 0 82px;

    &-item {
      position: relative;
    }

    &-title {
      font-size: 55px;
      font-weight: 500;
      line-height: 38px;
      max-width: 560px;
    }

    &-text {
      line-height: 30px;
      margin: 30px 0 50px;
      max-width: 560px;
    }

    &-img {
      position: absolute;
      top: 50%;
      right: calc(25% - 82px);
      transform: translate(25%, -50%);
    }

    .slick-dots {
      position: absolute;
      right: -174px;
      top: 50%;
      transform: translateY(-50%);

      button {
        font-size: 0;
        height: 24px;
        width: 24px;
        background: url(../images/slider-dots.png) no-repeat;
        background-position: 2px -29px;
        border: 0;
        background-size: auto;
        animation: fadeIn ease .5s;
        margin: 6px 0;
        
      }

      .slick-active {
        
        button {
          background-position: 0 0;
        }
      }
    }
  }

  &__more-btn {
    text-transform: uppercase;
    font-weight: 500;
    line-height: 10px;
    color:#fff;
    background: url('../images/more-btn-icon.png') no-repeat;
    background-position: center bottom;
    padding-bottom: 94px;
    // display: block;
    // margin: 140px auto 50px;
    // text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
  }
}

.orange-btn {
  text-transform: uppercase;
  color: #fff;
  padding:20px 40px ;
  background: #ff8b00;
  font-size: 14px;
  line-height: 10px;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: all .5s;
  display: inline-block;

  &:hover {
    color:#ff8b00;
    background: transparent;
    border: 1px solid #ff8b00;
  }
}

.header {

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0 0;
  }
}

.menu {

  &__list {
    display: flex;
  }

  &__item {
    margin-left: 30px;
  }

  &__list-link {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 9px;
    transition: all .5s;
    border-bottom: 3px solid transparent;
    letter-spacing: 1px;

    &:hover {
      border-bottom: 3px solid #ff8b00;
    }
  }
}

.stat {
  display: flex;
  padding: 146px 0 130px;
  justify-content: center;
  
  &__item {
    color: #7050e5;
    font-weight: 700;
    margin: 0 43px;
    text-align: center;

    &-data {
      font-size: 60px;
      display: inline-block;
      line-height: 44px;
    }

    &-text {
      text-transform: uppercase;
      margin-top: 24px;
    }
  }
}

.we-do {
  background: #f8f8f8;
  padding: 120px 0 102px;

  &__title {
    color: #7050e5;
    font-size: 60px;
    line-height: 44px;
    text-align: right;
    margin: 0 73px;
    padding: 40px 50px 80px;
    background: url('../images/we-do-title-bkg.png') no-repeat;
    background-position: top right;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 85px;
  }

  &__item {
    width: calc(100% / 3);
    max-width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 33px 28px 0;
    position: relative;

    &-img-wrapper {
      height: 150px;
      display: flex;
      align-items: flex-end;
    }

    &-img {
      height: fit-content;
    }

    &-title {
      align-self: flex-start;
      font-weight: 500;
      color: #7050e5;
      text-transform: uppercase;
      line-height: 16px;
      margin-top: 30px;
    }

    &-text {
      margin-top: 10px;
    }
  }
}

.spotlight {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  padding: 106px 0 120px;
  justify-content: space-between;
  align-items: center;

  &__descr {
    max-width: 456px;

    &-title {
      color: #7050e5;
      font-size: 40px;
      line-height: 30px;
    }

    &-text {
      margin: 20px 0 30px;
    }
  }

  &__video {

  }
}

.started {
  background: url('../images/ready-bkg.jpg') no-repeat center;

  &__content {
    display: flex;
    padding: 90px 0 74px;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }

  &__text {
    font-size: 40px;
    line-height: 30px;
    font-weight: 500;
  }
}

.footer {
  background: #363636;

  &__content  {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 56px 0 48px;
  }

  &__item {

    &-title {
      text-transform: uppercase;
      color: #ff8b00;
      font-weight: 700;
      font-size: 14px;
      line-height: 10px;

      &::before {
        content: '';
        height: 10px;
        width: 10px;
        background: url('../images/hexagon-dot.png') no-repeat;
        display: inline-block;
        margin-right: 7px;
      }
    }

    &-link {
      color: #fff;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 10px;
      display: inline-block;
    }

    &-list {
      margin-top: 20px;

      &-item {
        line-height: 10px;
        margin-bottom: 14px;
      }
    }
  }

}

.feed {
  width: 300px;
  font-family: Myriad Pro;

  &__header {
    background: #7050e5;
    display: flex;
    align-items: center;
  }

  &__logo {
    background: #5634d1;
    padding: 12px 11px 10px;
  }

  &__title {
    font-size: 24px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    padding: 4px 0 0 13px;

    span {
      font-size: 14px;
    }
  }

  &__content {
    background: #fff;
    padding: 16px 30px 20px;
    height: 235px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 6px;
      background-color: #f9f9fd;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 6px;
      background-color: #999;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
      border-radius: 10px;
      background-color: #f9f9fd;
    }
  }

  &__message {
    margin-top: 20px;
    line-height: 20px;

    &:nth-child(1) {
      margin: 0;
    }

    &-text {
      color: #999999;
      font-size: 14px;
    }

    &-link {
      color: #7050e5;
    }

    &-time {
      color: #555555;
      font-size: 12px;
    }
  }
}